[submodule "urxvt"]
	path = urxvt
	url = https://github.com/Andersbiha/urxvt
[submodule "i3"]
	path = i3
	url = https://github.com/Andersbiha/i3
[submodule "conky"]
	path = conky
	url = https://github.com/Andersbiha/conky
[submodule "ranger"]
	path = ranger
	url = https://github.com/Andersbiha/ranger
